01 - Crie um programa que entre com valor zero e conte até cinco:

In [1]:
x = 0
while (x<=5):
    print(x)
    x +=1

0
1
2
3
4
5

02 - Crie um  programa que guarda cinco nomes e demontre o numero amazenado:

In [2]:
nome = ['Vinícius','joão','Pedro','Otavio','Luana']

x = 0
while(x<5):
    print(x," - ",nome[x])
    x += 1

0  -  Vinícius
1  -  joão
2  -  Pedro
3  -  Otavio
4  -  Luana

03 - Crie um programa que guarde cinco nomes e cinco idedes e demonstre o numero armazenado:

In [9]:
nome = ['Vinícius','joão','Pedro','Otavio','Luana']
idade = ['16','13','15','14','16']

x = 0
while(x<5):
    print(x," - ",nome[x],idade[x],"anos")
    x += 1

0  -  Vinícius 16 anos
1  -  joão 13 anos
2  -  Pedro 15 anos
3  -  Otavio 14 anos
4  -  Luana 16 anos